.notfound__block {
  text-align: center;
  .notfound__img {
    font-size: 50px;
  }
  .notfound__text {
    font-size: 18px;
    margin-bottom: 90px;
  }
  .button {
    margin-bottom: 100px;
    padding: 15px 35px;
    span {
      font-size: 18px;
    }
  }
}
